In [28]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
!pip install chardet
import chardet
with open('/content/drive/MyDrive/Users.csv', 'rb') as f:
    encoding = chardet.detect(f.read())['encoding']
dataset = pd.read_csv('/content/drive/MyDrive/Customer-Churn-Records.csv', encoding=encoding)
dataset.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (5.2.0)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [29]:
# Removing the 'Surname' and 'CustomerId' columns from the dataset
dataset = dataset.drop(columns=['Surname'])
dataset = dataset.drop(columns=['CustomerId'])

dataset

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

In [30]:
# Creating dummy variables for the 'Geography' column
geography_dummies = pd.get_dummies(dataset['Geography'])

# Creating new columns 'IsFrance' and 'IsSpain'
dataset['IsFrance'] = geography_dummies['France']
dataset['IsSpain'] = geography_dummies['Spain']

# Assigning 0 to 'IsFrance' and 'IsSpain' where the country is neither France nor Spain
dataset['IsFrance'] = dataset['IsFrance'].fillna(0).astype(int)
dataset['IsSpain'] = dataset['IsSpain'].fillna(0).astype(int)

dataset

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,IsFrance,IsSpain
0,1,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,1,0
1,2,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456,0,1
2,3,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,1,0
3,4,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350,1,0
4,5,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300,1,0
9996,9997,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771,1,0
9997,9998,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564,1,0
9998,9999,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339,0,0
9999,10000,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911,1,0

In [31]:
# Removing the 'Geography	' column from the dataset
dataset = dataset.drop(columns=['Geography'])
dataset

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,IsFrance,IsSpain
0,1,619,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,1,0
1,2,608,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456,0,1
2,3,502,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,1,0
3,4,699,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350,1,0
4,5,850,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300,1,0
9996,9997,516,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771,1,0
9997,9998,709,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564,1,0
9998,9999,772,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339,0,0
9999,10000,792,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911,1,0

In [32]:
# Changing entries in the 'Gender' column
dataset['Gender'] = dataset['Gender'].replace({'Male': 1, 'Female': 0})
dataset

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,IsFrance,IsSpain
0,1,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,1,0
1,2,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456,0,1
2,3,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,1,0
3,4,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350,1,0
4,5,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,1,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300,1,0
9996,9997,516,1,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771,1,0
9997,9998,709,0,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564,1,0
9998,9999,772,1,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339,0,0
9999,10000,792,0,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911,1,0

In [33]:
# Checking entries in 'HasCrCard' and changing corresponding entries in 'Card Type'
dataset.loc[dataset['HasCrCard'] == 0, 'Card Type'] = 'NA'
dataset

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,IsFrance,IsSpain
0,1,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,1,0
1,2,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,NA,456,0,1
2,3,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,1,0
3,4,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,NA,350,1,0
4,5,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,1,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300,1,0
9996,9997,516,1,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771,1,0
9997,9998,709,0,36,7,0.00,1,0,1,42085.58,1,1,3,NA,564,1,0
9998,9999,772,1,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339,0,0
9999,10000,792,0,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911,1,0

In [34]:
# Creating new columns 'IsGold', 'IsPlatinum', 'IsSilver', and 'IsDiamond'
dataset['IsGold'] = (dataset['Card Type'] == 'GOLD').astype(int)
dataset['IsPlatinum'] = (dataset['Card Type'] == 'PLATINUM').astype(int)
dataset['IsSilver'] = (dataset['Card Type'] == 'SILVER').astype(int)
dataset['IsDiamond'] = (dataset['Card Type'] == 'DIAMOND').astype(int)
dataset

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Complain,Satisfaction Score,Card Type,Point Earned,IsFrance,IsSpain,IsGold,IsPlatinum,IsSilver,IsDiamond
0,1,619,0,42,2,0.00,1,1,1,101348.88,...,1,2,DIAMOND,464,1,0,0,0,0,1
1,2,608,0,41,1,83807.86,1,0,1,112542.58,...,1,3,NA,456,0,1,0,0,0,0
2,3,502,0,42,8,159660.80,3,1,0,113931.57,...,1,3,DIAMOND,377,1,0,0,0,0,1
3,4,699,0,39,1,0.00,2,0,0,93826.63,...,0,5,NA,350,1,0,0,0,0,0
4,5,850,0,43,2,125510.82,1,1,1,79084.10,...,0,5,GOLD,425,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,1,39,5,0.00,2,1,0,96270.64,...,0,1,DIAMOND,300,1,0,0,0,0,1
9996,9997,516,1,35,10,57369.61,1,1,1,101699.77,...,0,5,PLATINUM,771,1,0,0,1,0,0
9997,9998,709,0,36,7,0.00,1,0,1,42085.58,...,1,3,NA,564,1,0,0,0,0,0
9998,9999,772,1,42,3,75075.31,2,1,0,92888.52,...,1,2,GOLD,339,0,0,1,0,0,0
9999,10000,792,0,28,4,130142.79,1,1,0,38190.78,...,0,3,DIAMOND,911,1,0,0,0,0,1

In [35]:
# Removing the 'Card Type' column from the dataset
dataset = dataset.drop(columns=['Card Type'])
dataset = dataset.drop(columns=['RowNumber'])
dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,IsFrance,IsSpain,IsGold,IsPlatinum,IsSilver,IsDiamond
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,464,1,0,0,0,0,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,456,0,1,0,0,0,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,377,1,0,0,0,0,1
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,350,1,0,0,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,425,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0,1,300,1,0,0,0,0,1
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0,5,771,1,0,0,1,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1,3,564,1,0,0,0,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,1,2,339,0,0,1,0,0,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0,3,911,1,0,0,0,0,1

In [36]:
# Importing necessary libraries for logistic regression
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [37]:
# Selecting features and target variable
X = dataset[['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
             'EstimatedSalary', 'Complain', 'Satisfaction Score', 'Point Earned', 'IsFrance', 'IsSpain',
             'IsGold', 'IsPlatinum', 'IsSilver', 'IsDiamond']]
y = dataset['Exited']

# Splitting the dataset into training and testing sets (70% training, 30% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initializing and training the logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Making predictions on the testing set
y_pred = model.predict(X_test)

# Calculating accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.7983333333333333